{% extends "base.html" %}
{% block title %}
{{ SITENAME }} | {{ page.title |striptags }}
{% endblock %}
{% block content %}
<div id="main">
    <div class="header">
        <header>
        {% block page_header %}
            <h1>{{ page.title}}</h1>
            {% if page.subtitle %}
            <h2> {{ page.subtitle }} </h2>
            {% endif %}
        {% endblock page_header %}
        </header>
    </div>
    <div class="content">
    {% block page_content %}
        <div class="page-content">
            {{ page.content }}
        </div>
    {% endblock page_content %}
    </div>
</div>
{% endblock content %}

{% block sidebar_image %}
{% if page.image %}
{% set SIDEBAR_IMG_URL = page.image %}
{% endif %}
{% endblock %}
