{% extends 'page.html' %}
{% block title %} {{ SITENAME }} | Tags {% endblock %}


{% block page_header %}
{% if tags %}
    <h1> Tags </h1>
{% else %}
    <h1> No Tags Found </h1>
{% endif %}
{% endblock %}


{% block page_content %}
{% if tags %}
    <ul>
    {% for tag, articles in tags %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}"> {{ tag }} ({{ articles | count }})</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
